<h1>New mouse_pheno_info</h1>

<% form_for(@mouse_pheno_info) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mgi_allele %><br />
    <%= f.text_field :mgi_allele %>
  </p>
  <p>
    <%= f.label :allele_type %><br />
    <%= f.text_field :allele_type %>
  </p>
  <p>
    <%= f.label :mgi_marker %><br />
    <%= f.text_field :mgi_marker %>
  </p>
  <p>
    <%= f.label :gene %><br />
    <%= f.text_field :gene %>
  </p>
  <p>
    <%= f.label :phenotype %><br />
    <%= f.text_field :phenotype %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', mouse_pheno_infos_path %>
