<p>
  <b>Mgi allele:</b>
  <%=h @mouse_pheno_info.mgi_allele %>
</p>

<p>
  <b>Allele type:</b>
  <%=h @mouse_pheno_info.allele_type %>
</p>

<p>
  <b>Mgi marker:</b>
  <%=h @mouse_pheno_info.mgi_marker %>
</p>

<p>
  <b>Gene:</b>
  <%=h @mouse_pheno_info.gene %>
</p>

<p>
  <b>Phenotype:</b>
  <%=h @mouse_pheno_info.phenotype %>
</p>


<%= link_to 'Edit', edit_mouse_pheno_info_path(@mouse_pheno_info) %> |
<%= link_to 'Back', mouse_pheno_infos_path %>
