<table>
  <tr>
    <th>Number</th>
    <th>PlasmoDB ID</th>
    <th>Alternate Names</th>
    <th>Annotation</th>
    <th>Localisations</th>
    <th>References</th>
  </tr>
  
  <% @coding_regions.each_with_index do |coding_region, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to coding_region.string_id, :action => :show, :id => coding_region %></td>
      <td><%= coding_region.alternate_names.join(', ') %></td>
      <td><%= coding_region.annotation.nil? ? 'no annotation' : coding_region.annotation.annotation %></td>
      <td>
        <%= coding_region.localisation_english %>
      </td>
      <td>
        <%= coding_region.expression_contexts.reach.publication.uniq.collect { |pub|
          "#{link_to pub.definition, publication_path(pub)}"
        }.join(', ') %>
      </td>
    </tr>
  <% end %>
</table>
