<h1>Editing microarray</h1>

<%= error_messages_for :microarray %>

<% form_for(@microarray) do |f| %>
  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @microarray %> |
<%= link_to 'Back', microarrays_path %>
