<h1>Listing microarrays</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

<% for microarray in @microarrays %>
  <tr>
    <td><%=h microarray.description %></td>
    <td><%= link_to 'Show', microarray %></td>
    <td><%= link_to 'Edit', edit_microarray_path(microarray) %></td>
    <td><%= link_to 'Destroy', microarray, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New microarray', new_microarray_path %>
