<h1>New drosophila_allele_phenotype</h1>

<% form_for(@drosophila_allele_phenotype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :drosophila_allele_gene_id %><br />
    <%= f.text_field :drosophila_allele_gene_id %>
  </p>
  <p>
    <%= f.label :phenotype %><br />
    <%= f.text_field :phenotype %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', drosophila_allele_phenotypes_path %>
