<h1>Listing orthomcl_genes</h1>

<table>
  <tr>
    <th>Orthomcl name</th>
    <th>Orthomcl group</th>
  </tr>

<% for orthomcl_gene in @orthomcl_genes %>
  <tr>
    <td><%=h orthomcl_gene.orthomcl_name %></td>
    <td><%=h orthomcl_gene.orthomcl_group_id %></td>
    <td><%= link_to 'Show', orthomcl_gene %></td>
    <td><%= link_to 'Edit', edit_orthomcl_gene_path(orthomcl_gene) %></td>
    <td><%= link_to 'Destroy', orthomcl_gene, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New orthomcl_gene', new_orthomcl_gene_path %>
