<h1>Editing go_term</h1>

<%= error_messages_for :go_term %>

<% form_for(@go_term) do |f| %>
  <p>
    <b>Term</b><br />
    <%= f.text_field :term %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @go_term %> |
<%= link_to 'Back', go_terms_path %>
