<p>
  <b>Probe map:</b>
  <%=h @probe_map_entry.probe_map_id %>
</p>

<p>
  <b>Probe:</b>
  <%=h @probe_map_entry.probe_id %>
</p>

<p>
  <b>Coding region:</b>
  <%=h @probe_map_entry.coding_region_id %>
</p>


<%= link_to 'Edit', edit_probe_map_entry_path(@probe_map_entry) %> |
<%= link_to 'Back', probe_map_entries_path %>
