<h1>New Expression Context</h1>

<% form_for(@expression_context, :url => { :action => "create", 
:params => {
:coding_region_id => @coding_region.id
} }) do |f| %>
  <%= f.error_messages %>

<h1>Contribute a new Localisation for <%= @coding_region.string_id %></h1>
<p>For more than one localisation/expression context for this protein, this form should be filled out more than once.</p>
<p>Please only provide information pertaining to proteins localised by immunofluorescence microscopy, GFP, or electron microscopy</p>
<!-- Localisations -->
<h2>Where is this protein expressed?</h2>
<%= select_tag 'localisation', @localisations.reach.name.retract %>

<!-- Expression Timing -->
<h2>When is this protein expressed in this localisation?</h2>
<%= select_tag 'developmental_stage', @developmental_stages.reach.name.retract %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', coding_region_path(@coding_region) %>
