<h1>Editing drosophila_allele_gene</h1>

<% form_for(@drosophila_allele_gene) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :allele %><br />
    <%= f.text_field :allele %>
  </p>
  <p>
    <%= f.label :gene_id %><br />
    <%= f.text_field :gene_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @drosophila_allele_gene %> |
<%= link_to 'Back', drosophila_allele_genes_path %>
