<h1>Listing drosophila_allele_genes</h1>

<table>
  <tr>
    <th>Allele</th>
    <th>Gene</th>
  </tr>

<% for drosophila_allele_gene in @drosophila_allele_genes %>
  <tr>
    <td><%=h drosophila_allele_gene.allele %></td>
    <td><%=h drosophila_allele_gene.gene_id %></td>
    <td><%= link_to 'Show', drosophila_allele_gene %></td>
    <td><%= link_to 'Edit', edit_drosophila_allele_gene_path(drosophila_allele_gene) %></td>
    <td><%= link_to 'Destroy', drosophila_allele_gene, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New drosophila_allele_gene', new_drosophila_allele_gene_path %>
