<h1>New taxon_name</h1>

<%= error_messages_for :taxon_name %>

<% form_for(@taxon_name) do |f| %>
  <%= TaxonName.content_columns.collect{|c|c.human_name}.join(', ') %><br/>
  Name: <%= @taxon_name %>
  <%#= f.text_field(:name) %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', taxon_names_path %>
