<p>
  <b>Mgi:</b>
  <%=h @mouse_phenotype_info.mgi %>
</p>

<p>
  <b>Gene:</b>
  <%=h @mouse_phenotype_info.gene %>
</p>

<p>
  <b>Phenotype:</b>
  <%=h @mouse_phenotype_info.phenotype %>
</p>


<%= link_to 'Edit', edit_mouse_phenotype_info_path(@mouse_phenotype_info) %> |
<%= link_to 'Back', mouse_phenotype_infos_path %>
