<h1>Listing phenotype_informations</h1>

<table>
  <tr>
    <th>Coding region</th>
    <th>Dbxref</th>
    <th>Phenotype</th>
    <th>Experiments</th>
    <th>Primary</th>
    <th>Specific</th>
    <th>Observed</th>
  </tr>

<% for phenotype_information in @phenotype_informations %>
  <tr>
    <td><%=h phenotype_information.coding_region_id %></td>
    <td><%=h phenotype_information.dbxref %></td>
    <td><%=h phenotype_information.phenotype %></td>
    <td><%=h phenotype_information.experiments %></td>
    <td><%=h phenotype_information.primary %></td>
    <td><%=h phenotype_information.specific %></td>
    <td><%=h phenotype_information.observed %></td>
    <td><%= link_to 'Show', phenotype_information %></td>
    <td><%= link_to 'Edit', edit_phenotype_information_path(phenotype_information) %></td>
    <td><%= link_to 'Destroy', phenotype_information, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New phenotype_information', new_phenotype_information_path %>
