<h1>Editing coding_region_localisation</h1>

<%= error_messages_for :coding_region_localisation %>

<% form_for(@coding_region_localisation) do |f| %>
  <p>
    <b>Coding region</b><br />
    <%= f.text_field :coding_region_id %>
  </p>

  <p>
    <b>Localisation</b><br />
    <%= f.text_field :localisation_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @coding_region_localisation %> |
<%= link_to 'Back', coding_region_localisations_path %>
