<h1>Listing coding_region_localisations</h1>

<table>
  <tr>
    <th>Coding region</th>
    <th>Localisation</th>
  </tr>

<% for coding_region_localisation in @coding_region_localisations %>
  <tr>
    <td><%=h coding_region_localisation.coding_region_id %></td>
    <td><%=h coding_region_localisation.localisation_id %></td>
    <td><%= link_to 'Show', coding_region_localisation %></td>
    <td><%= link_to 'Edit', edit_coding_region_localisation_path(coding_region_localisation) %></td>
    <td><%= link_to 'Destroy', coding_region_localisation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New coding_region_localisation', new_coding_region_localisation_path %>
