<h1>Listing orthomcl_groups</h1>

<table>
  <tr>
    <th>Version</th>
    <th>Orthomcl name</th>
  </tr>

<% for orthomcl_group in @orthomcl_groups %>
  <tr>
    <td><%=h orthomcl_group.version %></td>
    <td><%=h orthomcl_group.orthomcl_name %></td>
    <td><%= link_to 'Show', orthomcl_group %></td>
    <td><%= link_to 'Edit', edit_orthomcl_group_path(orthomcl_group) %></td>
    <td><%= link_to 'Destroy', orthomcl_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New orthomcl_group', new_orthomcl_group_path %>
