<h1>New annotation</h1>

<%= error_messages_for :annotation %>

<% form_for(@annotation) do |f| %>
  <p>
    <b>Coding region</b><br />
    <%= f.text_field :coding_region_id %>
  </p>

  <p>
    <b>Annotation</b><br />
    <%= f.text_field :annotation %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', annotations_path %>
