<li>
  <%= link_to 'Malaria Parasite Metabolic Pathways', 'http://sites.huji.ac.il/malaria/' %>
</li>
<li>
  <%= link_to 'MalSig', 'http://131.172.128.59/cgi-bin/pfsigseq_refs.py' %>, prediction of <i>P. falciparum</i>
  signal peptides
</li>
<li>
  <%= link_to 'PSEApred', 'http://www.imtech.res.in/raghava/pseapred/' %>, prediction of <i>P. falciparum</i>
  proteins secreted into the infected erythrocyte
</li>
<li>
  <%= link_to 'PlasMit', 'http://gecco.org.chemie.uni-frankfurt.de/plasmit/index.html' %>, prediction of <i>P. falciparum </i>
  mitochondrial transit peptides
</li>
<li>
  <i>P. falciparum</i>
  Apicoplast Leader Predictors:
</li>
<ul>
  <li>
    <%= link_to 'PlasmoAP', 'http://v4-4.plasmodb.org/restricted/PlasmoAPcgi.shtml' %>
  </li>
  <li>
    <%= link_to 'PATS', 'http://gecco.org.chemie.uni-frankfurt.de/pats/pats-index.php' %>
  </li>
</ul>
