<h2>Acknowledgements</h2>
Several softwares were created and built upon in the creation of ApiLoc. All are available as free software.
<ul>
  <li><%= link_to 'reach', 'http://github.com/wwood/reach' %></li>
  <li><%= link_to 'bbbin', 'http://github.com/wwood/bbbin' %></li>
  <li><%= link_to 'apiloc', 'http://github.com/wwood/apiloc' %></li>
  <li><%= link_to 'EZProxy FireGesture', '' %></li>
  <li><%= link_to 'Bioinformatics-specific ubiquity commands', 'blog' %></li>
</ul>

<%= link_to 'Free software', 'http://en.wikipedia.org/wiki/Free_software' %> used in the creation and maintenance of ApiLoc:

<ul>
  <li>OrthoMCL</li>
  <li>EuPathDB</li>
  <li><a href="http://www.ubuntu.com/"><img width="200"src=<%= image_path('UbuntuLogo.png')%>></a></li>
  <li>Ruby</li>
  <li>Rails</li>
  <li>Mozilla Ubiquity</li>
</ul