<h2>ApiLoc was created by</h2>
<ul>
  <li>Ben J. Woodcroft</li>
  <li>Krystie-Lee Scanlon</li>
  <li>Maria Doyle</li>
  <li><%= link_to 'Terry Speed', 'http://www.wehi.edu.au/faculty_members/professor_terry_speed' %></li>
  <li><%= link_to 'Stuart A. Ralph', 'http://www.biochemistry.unimelb.edu.au/research/res_ralph.html' %></li>
</ul>
<p>Thanks also to <%= link_to 'Boris Striepen', 'http://www.striepen.uga.edu' %> for providing the 'generalised' apicomplexan parasite, <%= link_to 'released', 'http://www.plospathogens.org/article/slideshow.action?uri=info:doi/10.1371/journal.ppat.0030078&imageURI=info:doi/10.1371/journal.ppat.0030078.g001' %> under Creative Commons license.</p>
<h2>Apicomplexan Localisation Resources</h2>
<ul>
  <li><%= link_to 'PlasmoDB', 'http://plasmodb.org' %>:</li>
  <ul>
  	<li><%= link_to 'Predicted Signal Peptide', 'http://plasmodb.org/plasmo/showQuestion.do?questionFullName=GeneQuestions.GenesWithSignalPeptide' %></li>
	<%= render :partial => 'falciparum_plasmodb_general_links' %>
  </ul>
  <%= render :partial => 'general_falciparum_sub_cellular_localisation_links' %>
  <%= render :partial => 'general_sub_cellular_localisation_links' %>
</ul>
<h3>Source Code</h3>
<ul>
<li><%= link_to 'PlasmoAP', 'http://github.com/wwood/bbbin/blob/master/plasmo_a_p.rb' %>, same algorithm as at PlasmoDB but written independently</li>
<li><%= link_to 'ExportPred', 'http://bioinf.wehi.edu.au/exportpred/' %>, supplementary website </li>
</ul>
<h2>Biology-Related Software</h2>
Some software was created and built upon in for ApiLoc, available as <%= link_to 'free software', 'http://en.wikipedia.org/wiki/Free_software' %>.
<ul>
  <li><%= link_to 'reach', 'http://github.com/wwood/reach' %> - a <%= link_to 'Ruby', 'http://www.ruby-lang.org' %> library for more easily working with arrays</li>
  <li><%= link_to 'bbbin', 'http://github.com/wwood/bbbin' %> - Ben's Bioinformatics Bin - a collection of working and non-working bioinformatics scripts written in variety of programmaing languages</li>
</ul>
<h2>Other Software</h2>
The ApiLoc website was created entirely with <%= link_to 'free software', 'http://en.wikipedia.org/wiki/Free_software' %>. Some of these software are as follows. ApiLoc was built using <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %> and the javascript library <%= link_to 'sorttable', 'http://www.kryogenix.org/code/browser/sorttable/' %> with <%= link_to 'RadRails', 'http://www.aptana.com/products/radrails' %> and <%= link_to 'Eclipse', 'http://www.eclipse.org/'%>,
on an <%= link_to 'Ubuntu', 'http://ubuntu.com' %> development computer and server, and tested with <%= link_to 'Firefox', 'http://getfirefox.com' %>. <%= link_to 'LibreOffice', 'http://www.libreoffice.org/' %><%= link_to 'OpenOffice', 'http://openoffice.org' %> and the now obsolete <%= link_to 'Mozilla Ubiquity', 'https://mozillalabs.com/ubiquity/' %> were also used heavily used during the curation process.
