<h2><%= "#{@code.string_id} (#{@code.case_sensitive_literature_defined_coding_region_alternate_string_ids.reach.name.join(', ')})" %></h2>
<%= @code.annotation.annotation %>

<%= @code.localisation_english %>

<% @code.expression_contexts.reach.publication.uniq.each do |publication| %>
  <h3><%= link_to publication.title, :action => :publication, :id => publication.definition %></h3>
  <p><%= publication.authors %></p>
  <%= ExpressionContext.find_all_by_publication_id_and_coding_region_id(
    publication.id, @code.id
  ).reach.english.join(', ') %>
<% end %>

<h3>Orthology</h3>
<h4>BLAST hits to localised proteins</h4>
<%# @code.apiloc_blast_hits.each do |blast_code| %>
<%#= link_to blast_code.string_id %>
<%# end %>

<h4>OrthoMCL</h4>
<%
if  %>
<% end %>

<h3>Links</h3>
<ul>
  <% if @code.species.plasmodb? %>
    <li><%= link_to 'PlasmoDB', "http://plasmodb.org/gene/#{@code.string_id}" %></li>
  <% elsif @code.species.toxodb? %>
    <li><%= link_to 'ToxoDB', "http://toxodb.org/gene/#{@code.string_id}" %></li>
  <% elsif @code.species.cryptodb? %>
    <li><%= link_to 'CryptoDB', "http://cryptodb.org/gene/#{@code.string_id}" %></li>
  <% else %>
    <li><%= link_to 'GenBank', "http://www.ncbi.nlm.nih.gov/sites/entrez?db=nuccore&term=#{@code.string_id}" %></li>
  <% end %>
</ul>
