
<script type="text/javascript">
  /* Toggle a list between expanded and retracted forms */
  function toggle(list_id, image_id){
    if (document.getElementById(list_id).style.display == 'block'){
      document.getElementById(list_id).style.display = 'none';
      document.getElementById(image_id).setAttribute('src', '<%= image_path("sqr_bullet_plus.gif")%>');
    } else {
      document.getElementById(list_id).style.display = 'block';
      document.getElementById(image_id).setAttribute('src', '<%= image_path("sqr_bullet_minus.gif")%>');
    }
  }
  
  /* Dynamically change the search form entry so that the form submission is RESTful */
  function setup_gene_search_action(){
  	url = '<%= url_for :controller => :apiloc, :action => :gene %>/'+document.getElementById('gene_search_textbox').value
	document.getElementById('gene_search_form').action = url;
	return url
  }
</script>
<% category_counter = 0 %>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <form id="gene_search_form" onsubmit="setup_gene_search_action()">
    <label>Gene ID/Name:</label><input type="text" id="gene_search_textbox" value="PF11_0344" size="12"/>
	<input type="submit" value="search"">
  </form>
</div>

<div align="right" class="category<%= category_counter+=1; category_counter.odd? %>">
  <img src="<%= image_path('apicomplexan.png') %>" alt="a model apicomplexan" usemap="#apicomplexan" border="none"/>
  <map name="apicomplexan">
    <area shape="rect" coords="279,0,352,19" alt="conoid" href="<%="#{url_for :action => :specific_localisation, :id => 'conoid'}" %>"/>
    <area shape="rect" coords="290,20,356,38" alt="apical" href="<%="#{url_for :action => :specific_localisation, :id => 'apical'}" %>"/>
    <area shape="rect" coords="297,41,416,62" alt="microneme" href="<%="#{url_for :action => :specific_localisation, :id => 'microneme'}" %>"/>
    <area shape="rect" coords="302,62,524,84" alt="microtubular network" href="<%="#{url_for :action => :specific_localisation, :id => '/microtubular network'}" %>"/>
    <area shape="rect" coords="306,86,566,109" alt="inner membrane complex" href="<%="#{url_for :action => :specific_localisation, :id => 'inner membrane complex'}" %>"/>
    <area shape="rect" coords="311,114,396,136" alt="rhoptry" href="<%="#{url_for :action => :specific_localisation, :id => 'rhoptry'}" %>"/>
    <area shape="rect" coords="318,146,470,166" alt="dense granule" href="<%="#{url_for :action => :specific_localisation, :id => 'dense granule'}" %>"/>
    <area shape="rect" coords="0,188,142,212" alt="mitochondrion" href="<%="#{url_for :action => :specific_localisation, :id => 'mitochondrion'}" %>"/>
    <area shape="rect" coords="28,217,142,242" alt="apicoplast" href="<%="#{url_for :action => :specific_localisation, :id => 'apicoplast'}" %>"/>
    <area shape="rect" coords="14,248,139,267" alt="centrosome" href="<%="#{url_for :action => :specific_localisation, :id => 'centrosome'}" %>"/>
    <area shape="rect" coords="20,272,141,296" alt="centrocone" href="<%="#{url_for :action => :specific_localisation, :id => 'centrocone'}" %>"/>
    <area shape="rect" coords="66,300,152,320" alt="nucleus" href="<%="#{url_for :action => :specific_localisation, :id => 'nucleus'}" %>"/>
    <area shape="rect" coords="31,326,165,366" alt="endoplasmic reticulum" href="<%="#{url_for :action => :specific_localisation, :id => 'endoplasmic reticulum'}" %>"/>
	<area shape="rect" coords="326,172,494,191" alt="Golgi apparatus" href="<%="#{url_for :action => :specific_localisation, :id => 'Golgi apparatus'}" %>"/>
    <area shape="poly" coords="243,35,155,203,161,293,222,360,284,365,335,335,346,294,304,173,275,48" alt="intracellular" href="<%="#{url_for :action => :specific_localisation, :id => 'intracellular'}" %>"/>
  </map>
  Image modified from <a href='http://www.plospathogens.org/article/info%3Adoi%2F10.1371%2Fjournal.ppat.0030078'>Striepen et. al. 2007</a>.
</div>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Species</h2>
  <ul>
    <% popular_species.each do |species_name| %>
      <li><i><%= link_to species_name, :action => :species, :controller => :apiloc, :id => species_name %></i> (<%= Species.find_by_name(species_name).number_or_proteins_localised_in_apiloc %>)</li>
    <% end %>
    <li>Other:
      <select onchange="if(this.options[this.selectedIndex].value != ''){window.top.location.href=this.options[this.selectedIndex].value}">
        <% Species.apicomplexan.all(
          :select => 'distinct(species.*) ',
          :order => 'name',
          :conditions => "name not in #{popular_species.to_sql_in_string}").each do |sp| %>
          <option value="../apiloc/species/<%= sp.name %>"><i><%= "#{sp.name} (#{sp.number_or_proteins_localised_in_apiloc})" %></i></option>
        <% end %>
      </select>
    </li>
  </ul>
</div>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Localisations</h2>
  <ul>
    <% popular_localisations.each do |loc| %>
      <li><%= image_tag("sqr_bullet_plus.gif", :id => "image_#{loc}", :alt=>"expand", :onclick=>"toggle('expandable_#{loc}', 'image_#{loc}')")%>&nbsp;&nbsp;
      <%= link_to loc, :action => :localisation, :id => loc %></li>
      <li style="display:none" id="expandable_<%=loc%>">
        <ul><% top_loc = loc; top_loc = 'cytoplasm' if top_loc == 'cytoplasm but not organellar';
          raise Exception, "unable to find top level loc #{top_loc}" unless TopLevelLocalisation.find_by_name(top_loc.downcase) %>
          <% TopLevelLocalisation.find_by_name(top_loc.downcase).apiloc_localisations.all(:select => 'distinct(localisations.name)').each do |l| %>
            <li><%= link_to l.name, :action => :specific_localisation, :id => l.name %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Developmental Stages</h2>
  <ul>
    <% popular_developmental_stages.each do |species_name| %>
      <li><%= link_to species_name, :action => :developmental_stage, :id => species_name %></li>
    <% end %>
    <li><%= image_tag("sqr_bullet_plus.gif", :id=>"expandable_unpopular_devs_image", :alt=>"expand", :onclick=>"toggle('expandable_unpopular_devs','expandable_unpopular_devs_image')")%>&nbsp;&nbsp;
      other</li>
    <li style="display:none" id="expandable_unpopular_devs">
      <ul>
        <% unpopular_developmental_stages.each do |dev| %>
          <li><%= link_to dev, :action => :developmental_stage, :id => dev %></li>
        <% end %>
      </ul>
  </ul>
</div>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Microscopy</h2>
  <ul>
    <% popular_microscopy_types.each do |species_name| %>
      <li><%= link_to species_name, :action => :microscopy, :id => species_name %></li>
    <% end %>
  </ul>
</div>


<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Proteomic Experiments</h2>
  <ul>
    <% popular_proteomic_experiments.each do |pro| %>
      <li><%= link_to proteomic_experiment_name_to_italics(pro.name), :action => :proteome, :id => pro.name %></li>
    <% end %>
  </ul>
</div>


<%= link_to 'Acknowledgements', :action => :acknowledgements %>

