

<% category_counter = 0 %>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <form action="/apiloc/gene">
    <label>Gene ID/Name:</label><input type="text" name="id" value="PF11_0344"/><input type="submit" value="search"/> There is also a <%= link_to 'BLAST server', '/blast/blast_link.cgi' %>.
  </form>
</div>


<div align="right" class="category<%= category_counter+=1; category_counter.odd? %>">
  <img src="<%= image_path('apicomplexan.png') %>" alt="a model apicomplexan" usemap="#apicomplexan" border="none"/>
  <map name="apicomplexan">
    <area shape="rect" coords="279,0,352,19" alt="conoid" href="/apiloc/localisation/conoid"/>
    <area shape="rect" coords="290,20,356,38" alt="apical" href="/apiloc/localisation/apical"/>
    <area shape="rect" coords="297,41,416,62" alt="microneme" href="/apiloc/localisation/microneme"/>
    <area shape="rect" coords="302,62,524,84" alt="microtubular network" href="/apiloc/localisation/microtubular network"/>
    <area shape="rect" coords="306,86,566,109" alt="inner membrane complex" href="/apiloc/localisation/inner membrane complex"/>
    <area shape="rect" coords="311,114,396,136" alt="rhoptry" href="/apiloc/localisation/rhoptry"/>
    <area shape="rect" coords="318,146,470,166" alt="dense granule" href="/apiloc/localisation/dense granule"/>
    <area shape="rect" coords="0,188,142,212" alt="mitochondrion" href="/apiloc/localisation/mitochondrion"/>
    <area shape="rect" coords="28,217,142,242" alt="apicoplast" href="/apiloc/localisation/apicoplast"/>
    <area shape="rect" coords="14,248,139,267" alt="centrosome" href="/apiloc/localisation/centrosome"/>
    <area shape="rect" coords="20,272,141,296" alt="centrocone" href="/apiloc/localisation/centrocone"/>
    <area shape="rect" coords="66,300,152,320" alt="nucleus" href="/apiloc/localisation/nucleus"/>
    <area shape="rect" coords="31,326,165,366" alt="endoplasmic reticulum" href="/apiloc/localisation/endoplasmic reticulum"/>
    <area shape="poly" coords="243,35,155,203,161,293,222,360,284,365,335,335,346,294,304,173,275,48" alt="intracellular" href="/apiloc/localisation/intracellular">
  </map>
</div>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Species</h2>
  <ul>
    <% popular_species.each do |species_name| %>
      <li><i><%= link_to species_name, :action => :species, :controller => :apiloc, :id => species_name %></i> (<%= Species.find_by_name(species_name).number_or_proteins_localised_in_apiloc %>)</li>
    <% end %>
    <li>Other:
      <select onchange="if(this.options[this.selectedIndex].value != ''){window.top.location.href=this.options[this.selectedIndex].value}">
        <% Species.apicomplexan.all(
          :select => 'distinct(species.*) ',
          :order => 'name',
          :conditions => "name not in #{popular_species.to_sql_in_string}").each do |sp| %>
          <option value="../apiloc/species/<%= sp.name %>"><i><%= "#{sp.name} (#{sp.number_or_proteins_localised_in_apiloc})" %></i></option>
        <% end %>
      </select>
    </li>
  </ul>
</div>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Localisations</h2>
  <ul>
    <% popular_localisations.each do |species_name| %>
      <li><%= link_to species_name, :action => :localisation, :id => species_name %></li>
    <% end %>
    <li>Other:
      <select onchange="if(this.options[this.selectedIndex].value != ''){window.top.location.href=this.options[this.selectedIndex].value}">
        <% Localisation.all(
          :select => 'distinct(localisations.name)',
          :order => 'name',
          :conditions => "name not in #{popular_localisations.to_sql_in_string} and name not like 'not %'").each do |loc| %>
          <option value="../apiloc/localisation/<%= loc.name %>"><%= loc.name %></option>
        <% end %>
      </select>
    </li>
  </ul>
</div>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Developmental Stages</h2>
  <ul>
    <% popular_developmental_stages.each do |species_name| %>
      <li><%= link_to species_name, :action => :developmental_stage, :id => species_name %></li>
    <% end %>
    <li>Other:
      <select onchange="if(this.options[this.selectedIndex].value != ''){window.top.location.href=this.options[this.selectedIndex].value}">
        <% DevelopmentalStage.all(
          :select => 'distinct(developmental_stages.*)',
          :order => 'name',
          :conditions => "name not in #{popular_developmental_stages.to_sql_in_string} and name not like 'not %'").each do |ann| %>
          <option value="../apiloc/developmental_stage/<%= ann.name %>"><%= ann.name %></option>
        <% end %>
      </select>
    </li>
  </ul>
</div>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Microscopy</h2>
  <ul>
    <% popular_microscopy_types.each do |species_name| %>
      <li><%= link_to species_name, :action => :microscopy, :id => species_name %></li>
    <% end %>
  </ul>
</div>


<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h2>Proteomic Experiments</h2>
  <ul>
    <% popular_proteomic_experiments.each do |pro| %>
      <li><%= link_to pro.name, :action => :proteome, :id => pro.name %></li>
    <% end %>
  </ul>
</div>


<%= link_to 'Acknowledgements', :action => :acknowledgements %>
