<h2><%= @name %></h2>

<% category_counter = 0 %>
<% @coding_regions_by_species.each do |species, coding_regions| %>
  <div class="category<%= category_counter+=1; category_counter.odd? %>">
    <h3><%= species.name %></h3>
    <ul>
      <% coding_regions.each do |code| %>
        <li><%= code_name_annotation(code) %> (<%= code.localisation_annotations.reach.microscopy_method.uniq.no_nils.reject{|r| r==''}.join(', ') %>)</li>
      <% end %>
    </ul>
  </div>
<% end %>