<h2><%= proteomic_experiment_name_to_italics(@experiment.name) %></h2>

<% category_counter = 0 %>
<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h3><%= @publication.title %></h3>
  <p><%= @publication.authors %> (<%= @publication.date %>)</p>
  <p><%= @publication.abstract %></p>
  <% if @publication.pubmed_id? %>
  <p><%= link_to "PubMed: #{@publication.pubmed_id}", @publication.linkout_url %>, <%= link_to 'full text', @publication.fulltext_url %></p>
  <% else %>
  <p><%= link_to @publication.fulltext_url %>
  <% end %>
</div>

<div class="category<%= category_counter+=1; category_counter.odd? %>">
  <h3>Proteins Found:</h3>
  <ul>
    <% CodingRegion.all(:select => 'distinct(coding_regions.*)',
      :joins => :proteomic_experiment_results,
      :order => 'string_id',
      :conditions => {:proteomic_experiment_results => {:proteomic_experiment_id => @experiment.id}}
    ).each do |code| %>
      <li><%= code_name_annotation(code) %></li>
    <% end %>
  </ul>
</div>