<h2><i><%= @species.name %></i></h2>

<p>
  <% if @viewing_positive_localisations %>
    This is a list of all the known positive localisation annotations. To view negative localisation annotations
    e.g. <%= link_to 'not apicoplast', :action => :localisation, :id => 'not apicoplast' %>,
    see the <%= link_to 'negative localisations', :action => :species, :id => @species.name, :params => {:negative => true} %>
  <% else %>
    See all <%= link_to 'positive localisations', :action => :species, :id => @species.name %>
  <% end %>
</p>

<% @localisations.each do |loc| %>
  <div class="category<%= @category_counter ||= 0; @category_counter+=1; @category_counter.odd? %>">
    <h3><%= loc.name %></h3>
    <p>View proteins from all species in <%= link_to loc.name, :action => :localisation, :id => loc.name %></p>
    <ul>
      <% CodingRegion.s(@species.name).all(
        :joins => {:expressed_localisations => :apiloc_localisation_top_level_localisation},
        :conditions => ['top_level_localisation_id = ?', loc.id],
        :select => 'distinct(coding_regions.*)'
      ).each do |code| %>
        <li><%= code_name(code) %>
          <%= code.annotation.nil? ? nil : code.annotation.annotation %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
