<h1><i><%= @species.name %></i></h1>

<p>
  <% if @viewing_positive_localisations %>
    This is a list of all the known positive localisation annotations. To view negative localisation annotations
    e.g. <%= link_to 'not apicoplast', :action => :localisation, :id => 'not apicoplast' %>,
    see the <%= link_to 'negative localisations', :action => :species, :id => @species.name, :params => {:negative => true} %>
  <% else %>
    See all <%= link_to 'positive localisations', :action => :species, :id => @species.name %>
  <% end %>
</p>

<% @localisations.each do |loc| %>
  <div class="category<%= @category_counter ||= 0; @category_counter+=1; @category_counter.odd? %>">
    <h3><%= loc.name %></h3>
    <% unless loc.localisation_synonyms.length == 0 %>
      <p>Also known as <%= loc.localisation_synonyms.reach.name.sort.join(', ') %>.</p>
    <% end %>
    <p>View proteins from all species in <%= link_to loc.name, :action => :localisation, :id => loc.name %></p>
    <ul>
      <% loc.expression_contexts.reach.coding_region.uniq.each do |code| %>
        <li><%= code_name(code) %>
          <%= code.annotation.nil? ? nil : code.annotation.annotation %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
