<h1>Editing gene</h1>

<%= error_messages_for :gene %>

<% form_for(@gene) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Species</b><br />
    <%= f.text_field :species_id %>
  </p>

  <p>
    <b>Upstream distance</b><br />
    <%= f.text_field :upstream_distance %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @gene %> |
<%= link_to 'Back', genes_path %>
