<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ApiLoc</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "apiloc" %>
</head>



<%# ERROR MESSAGE IF DESIRED %>
<% if flash[:error] %>
  <p><div id="error" class="errormsg">ERROR: <%= flash[:error] %></div>
<% end %>

 <%# NOTICE MESSAGE IF DESIRED %>
 <% if flash[:notice] %>
  <p><div id="notice" class="notice"><%= flash[:notice] %></div>
<% end %>


<%= @content_for_layout %>